[submodule "submodulo-front"]
	path = submodulo-front
	url = https://github.com/PhatomFatec/datatransfer-front.git
[submodule "submodulo-back"]
	path = submodulo-back
	url = https://github.com/PhatomFatec/datatransfer-back.git
